.Table{
  //flex: 1;
  //margin: 0 auto 10px;
  //max-width: 800px;
  width: 100%;
  //min-height: 400px;

  border-radius: 10px;
  background-color: #ccc;
  //border: 1px solid #2fa892;

  border-collapse: collapse;
}